.newsParent{
    border:2px solid rgb(138, 17, 63);
    padding: 0%;
    display:flex;
    margin:10px auto;
    width:60%;
color: pink;
    background-color: grey;
 
    
}
.newsTitle{
   font-size: 1.2em;
   font-weight: normal;

}
.newsDiscription{
    font-size:1.2em;
    font-weight: normal;

 } 
 .newsAuthor{
    font-size:1.2em;
    font-weight: bold;
 }
.textWrapper{ 
     margin-left:10px;
} 
.newsImage{
    padding: 10px;
    margin:0%;
    text-align: right;
  
}